// variables
@import '_variables.scss';

// mixins
@import '_mixins.scss';

// default
@import '_default.scss';

// variables
@import '_classes.scss';

// icon box
@import '_preloader.scss';

// icon box
@import '_icon-box.scss';

// slider
@import '_slider.scss';

// footer
@import '_footer.scss';

// button
@import '_button.scss';

// team
@import '_team.scss';

// career
@import '_career.scss';

// blog
@import '_blog.scss';

// form
@import '_form.scss';

// form page
@import '_form-page.scss';

// sidebar
@import '_sidebar.scss';

// service
@import '_service.scss';

// service
@import '_navigation.scss';

// main
@import '_main.scss';
